
	<div id="fullpage">

		<!-- start home -->
		<div id="home" class="section">
			<!-- <div class="container"> -->
				<div class="row">
                    <small>CODE VIPER | RED JOHN</small>

					<div class="col-md-12  wow fadeIn m-bottom" >
                        <h1>JOHN EMMANUEL</h1>
						<h2 class="rotate">FULL STACK DEVELOPER, UI - UX SPECIALIST, PROJECT LEADER</h2>
					</div>
					<div class="col-md-12 col-sm-12 wow fadeIn m-bottom" >

						<p class="talk" style="">Unlocking the power of computers revolutionized the world and ignited my passion for problem-solving through the magic of coding</p>
					</div>
						<div class="col-md-12 wow fadeIn m-bottom" >
						
						<a  class="btn btn-default smoothScroll wow fadeInUp" (click)="viewresume()" data-wow-delay="0.7s"> My Resume</a>
                        <a  class="btn btn-default smoothScroll wow fadeInUp" (click)="seeworks()" data-wow-delay="0.7s">See Works</a>
						<a  class="btn btn-default smoothScroll wow fadeInUp"  (click)="contactme()" data-wow-delay="0.7s"> Contact Me</a>
</div>
					
					<div class="col-12">
			<a> <i class="fa fa-linkedin"></i></a>
			<a> <i class="fa fa-facebook"></i></a>
			<a> <i class="fa fa-github"></i></a>
			<a> <i class="fa fa-twitter"></i></a>
			<a> <i class="fa fa-instagram"></i></a>


                    </div>
				</div>
			<!-- </div> -->
		</div>
		<!-- end home -->
<!-- start about -->
		<div id="about" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-xs-11 wow fadeInLeft animated" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInLeft;">
						<h2>ABOUT JOHNNIE EMMANUEL</h2>
						<h4>FULL STACK SOFTWARE ENGINEER</h4>
						<!-- <p>I am a <strong>Full Stack Software Engineer/ Developer</strong> , specializing in the&nbsp; development of <strong>mobile, web and desktop applications.</strong></p><p><strong>I hold a B.Sc degree in Computer Science.</strong></p><p>I've been building software's for various aspect of human lives for<strong>over 5 years.</strong> </p>
					 -->
					With over <strong>3 years</strong> of experience in <strong>Full Stack Development</strong> and a <strong>Computer Science Degree</strong> under my belt, i am a <strong>Versitile Developer</strong> with a passion for creating innovative and user-friendly solutions. From conceptualization to deployment, i am <strong>Dedicated to Delivering</strong> high quality and reliable software that exceeds expectations.<strong>My Strong Problem-solving Skills</strong> and ability to <strong>Adapt</strong> to new technologies makes me a valuable assets to any team. <strong>Let's Build Something Great Toghether!</strong>
					
					</div>
					<div class="col-md-6 col-xs-11 wow fadeInRight" data-wow-delay="0.7s">
						
						<span class="text-top">Angular <small></small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%;"></div>
							</div>
							<span>HTLM &AMP; CSS &AMP; JavaScript <small></small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
							</div>
							<span>NodeJS &AMP; PHP <small></small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
							</div>
							<span >MongoDB &AMP; MySQL<small></small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
							</div>
							<span >Source Control (Git) <small></small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
							</div>
						
						<span>SEO  <small></small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%;"></div>
							</div>
							<span>Problem Solving &AMP; Crital  Thinking<small></small></span>
							<div class="progress">
								<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100" style="width: 93%;"></div>
							</div>
						
					</div>
				</div>
			</div>
		</div>
		<!-- end about -->
		<!-- start work -->
		<div id="work" class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 wow bounce">
						<h2>WHAT I DO</h2>
					</div>
                </div>  
                
                <div class="row">
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.4s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-mobile"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Mobile Development</h3>
								<p>Development of Native applications for Android and IOS devices.</p>
							</div>
						</div>
					</div>
                    
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.5s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-laptop"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Web / Desktop Application</h3>
								<p>Development of web and desktop inclined applications. </p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">
						<div class="media">
							<div class="media-object media-left">
								<i class="fa fa-link"></i>
							</div>
							<div class="media-body">
								<h3 class="media-heading">Graphics Designing</h3>
								<p>Creating of Intriging and classy to-the-teeth  work of arts, flyers, logos.</p>
							</div>
						</div>
					</div>
                    
					
                    
				</div>
			</div>
		</div>
		<!-- end work -->

		

		<!-- start portfolio -->
		<div id="portfolio" class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="wow bounce">WORKS</h2>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="assets/images/directcargo.jpg" class="img-responsive" alt="direct cargo landing page">
							<div class="portfolio-overlay" >
							
									<a class="btn btn-default  "   data-wow-delay="0.7s" style="font-weight: bolder ; background:transparent; color:white;"> <i class="fa fa-globe portfolio-icon"></i>View Site</a>
									<a class="btn btn-default smoothScroll wow fadeInUp"  data-wow-delay="0.7s" style="font-weight: bolder ; background:transparent; color:white;"><i class="fa fa-github portfolio-icon"></i>Git Repo</a>

								
							
							</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="assets/images/ecocoinfx.jpg" class="img-responsive" alt="Ecocoinfx landing page">
							<div class="portfolio-overlay">
								<a class="btn btn-default  "   data-wow-delay="0.7s" style="font-weight: bolder ; background:transparent; color:white;">  <i class="fa fa-globe portfolio-icon"></i>View Site</a>
								<a class="btn btn-default smoothScroll wow fadeInUp"  data-wow-delay="0.7s" style="font-weight: bolder ; background:transparent; color:white;"><i class="fa fa-github portfolio-icon"></i>Git Repo</a>

							</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="assets/images/ibeto.jpg" class="img-responsive" alt="ibeto website">
							<div class="portfolio-overlay">
								<a class="btn btn-default  "   data-wow-delay="0.7s" style="font-weight: bolder ; background:transparent; color:white;"> <i class="fa fa-globe portfolio-icon"></i> View Site</a>
								<a class="btn btn-default smoothScroll wow fadeInUp"  data-wow-delay="0.7s" style="font-weight: bolder ; background:transparent; color:white;"><i class="fa fa-github portfolio-icon"></i>Git Repo</a>

							</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="assets/images/dolphinbank.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<a class="btn btn-default  "   data-wow-delay="0.7s" style="font-weight: bolder ; background:transparent; color:white;"> <i class="fa fa-globe portfolio-icon"></i> View Site</a>
								<a class="btn btn-default smoothScroll wow fadeInUp"  data-wow-delay="0.7s" style="font-weight: bolder ; background:transparent; color:white;"> <i class="fa fa-github portfolio-icon"></i>Git Repo</a>

							</div>
					</div>
				</div>
				<div class="col-md-6 col-xs-6 wow fadeIn" data-wow-delay="0.6s">
					<div class="portfolio-thumb">
						<img src="assets/images/portfolio.jpg" class="img-responsive" alt="portfolio img">
							<div class="portfolio-overlay">
								<a class="btn btn-default  "   data-wow-delay="0.7s" style="font-weight: bolder ; background:transparent; color:white;"> <i class="fa fa-globe portfolio-icon"></i> View Site</a>
								<a class="btn btn-default smoothScroll wow fadeInUp"  data-wow-delay="0.7s" style="font-weight: bolder ; background:transparent; color:white;"> <i class="fa fa-github portfolio-icon"></i>Git Repo</a>

							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end portfolio -->

		<!-- start contact -->
		<div id="contact" class="section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-lg-offset-1 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
						<address>
							<p class="contact-title">CONTACT ME</p>
							<p><i class="fa fa-phone"></i> +2347015575541</p>
							<p><i class="fa fa-envelope-o"></i> udomajohn21@gmail.com</p>
						</address>
					</div>
					<div class="col-lg-6 col-md-6 col-xs-10 wow fadeInUp" data-wow-delay="0.3s">
						<form >
							<input [(ngModel)]="name" name="name" type="text"  class="form-control" id="name" placeholder="Your Name">
							<input [(ngModel)]="email" name="email" type="email" class="form-control" id="email" placeholder="Your Email">
							<textarea [(ngModel)]="message" name="message" rows="5" class="form-control" id="message" placeholder="Your Message"></textarea>
							<input name="send" type="button" (click)="processForm()"  class="form-control" id="send" value="SEND ME">
						</form>
					</div>
					<div class="col-md-1 col-sm-1"></div>
				</div>
			</div>
		</div>
		<!-- end contact -->

	
	</div>

    